body {
font-family: 'Indie Flower', cursive;}

fieldset{
    font-family: 'Open Sans Condensed', sans-serif;}


     #Usuar , #pass
    {
        font-family: 'Indie Flower', cursive;}

        #datosComp   {font-family: 'Pacifico', cursive;}

        #Paises
        {
            font-family: 'Indie Flower', cursive;}
        
            h2 , h3 {font-family: 'Amatic SC', cursive;}